.container{
    display: contents;
}
.test
{
display: flex;
flex-wrap: wrap;
margin-top:0px;
}
.header
{
    align-items: center;
}
.button
{
    display: flex;
    justify-content: center;
}
.site{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}